
body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
/* CSS for navbar*/
.navbar-customclass {
    background-color: #F4EB49;
}
/* changing brand text color*/
.navbar-customclass .navbar-brand,
.navbar-customclass .navbar-text {
    color: #000000;
}
/* navigation link text color */
.navbar-customclass .navbar-nav .nav-link {
    color: rgba(0,0,0,.6);
}
/* navigation links anchor hover and active styles */
.navbar-customclass .nav-item.active .nav-link,
.navbar-customclass .nav-item:hover .nav-link {
    color: #000000;
}

#navbarSupportedContent{
    /*margin-left: 15%;
    margin-right: 15%;*/
}

#title-box {
    text-align: center;
    background-color: lightgrey;
    border: 30px lightgrey;
    margin: 20px;
}

#img-info {
    margin: 20px;
    overflow: hidden;
}


.img2s{
    max-width: 49%;
    height: auto;
    float: left;
}

.info {
    float: right;
    max-width: 49%;
    text-align: left;
}

.loginform {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #FFFF00;
    padding: 10px;
}

